@import "tailwindcss";

/* 런타임에 동적으로 추가되는 os-macos 클래스를 Tailwind가 감지할 수 있도록 safelist에 추가 */
@source inline("[.os-macos_&]:block");
@source inline("not-[.os-macos_&]:block");

:root {
  button:hover {
    cursor: pointer;
  }
}
